<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="com.Solutions.Utilities.ExtentReporterNG" />
</listeners>
  <test thread-count="5" name="Test" parallel = "classes" >
  
  
    <classes>
      <class name="com.Solutions.assignment.PDFReaderTest"/>
       <class name="com.Solutions.assignment.ActiveLicenseTest"/>
         <class name="com.Solutions.assignment.RestAPITest"/>
         <class name="com.Solutions.assignment.TransportPDFFirstLine"/>
       <!--    <class name="com.Solutions.assignment.Map_AssignmentTest"/> -->
         <class name="com.Solutions.assignment.LeadsTest"/>
         <class name="com.Solutions.assignment.Map_rectified"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
